<header>
    <div class="header">
        <div id="logo">
            <a href="/">
                <img src="/images/logo-mercado-liebre.svg" alt="Logotipo">
            </a>
        </div>
        <div class="barra-busq-padre">
            <form action="GET">
                <input class="barra-busq" type="text" placeholder="Buscar productos, marcas y mas ...">
                <div class="submit-clickeable">
                    <i class="fa-solid fa-magnifying-glass"></i><!--Se me va la lupa en modo tablet y un poco en desktop-->
                </div>
            </form>

        </div>

        <div id="comprar-en-cuotas">
            <p id="comprar-en-cuotas-text"></p><i id="margen-iconos-header"
                class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin
            tarjeta
            de
            credito</p> <!--Como hacerlo en dos renglones?-->
        </div>
    </div>
    <nav class="nav">
        <ul class="nav-items" type="none">
            <li id="nav_items"><a href="#">Ofertas</a></li>
            <li id="nav_items"><a href="#">Tiendas oficiales</a></li>
            <li id="nav_items"><a href="#">Vender</a></li>
            <li id="nav_items"><a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-items" type="none">
            <li id="nav-items"><a href="/register">Crea tu cuenta<i id="margen-iconos-header" class="fa-regular fa-id-card"></i></a></li>
            <li id="nav_items"><a href="/login">Ingresa<i id="margen-iconos-header" class="fa-solid fa-right-to-bracket"></i></a></li>
            <li id="nav_items"><a href="#">Mis compras<i id="margen-iconos-header" class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
    </nav>
    <div class="burger">
        <button class="burger-menu">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</header>