<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <div><img id="publicidad" src="/images/homebaner.jpg" alt="imagen"></div>

            <main class="main">

                <section>
                    <h3 class="titulares">Basado en tu ultima vista</h3>
                    <div class="seccion-productos">
                        <article class="articulos">
                            <!--Como hacer q aparezca el nombre con hover sin q se agrande el cuadro del producto?-->
                            <div><img class="imagen-article" src="/images/cafetera.jpg" alt="imagen"></div>
                            <div class="productos">
                                <i class="truck fa-solid fa-truck"></i> <!--icono delivery-->
                                <ul type="none">
                                    <li class="precios">$6.770</li>
                                    <li class="descuentos">40% off</li>
                                </ul>
                                <h4 class="descripcion">Cafetera Moulinex</h4>
                            </div>
                        </article>

                        <article class="articulos">
                            <div><img class="imagen-article" src="/images/macBook.jpg" alt="imagen"></div>
                            <div class="productos">
                                <i class="truck fa-solid fa-truck"></i>
                                <ul type="none">
                                    <li class="precios">$230.000</li>
                                    <li class="descuentos">20% off</li>
                                </ul>
                                <h4 class="descripcion">MacBook Pro 2019</h4>
                            </div>
                        </article>

                        <article class="articulos">
                            <div><img class="imagen-article" src="/images/galaxys10.jpg" alt="imagen"></div>
                            <div class="productos">
                                <i class="truck fa-solid fa-truck"></i>
                                <ul type="none">
                                    <li class="precios">$70.500</li>
                                    <li class="descuentos">10% off</li>
                                </ul>
                                <h4 class="descripcion">Samsung Galaxy S10</h4>
                            </div>
                        </article>

                        <article class="articulos">
                            <div><img class="imagen-article" src="/images/tvsamsung.jpg" alt="imagen"></div>
                            <div class="productos">
                                <i class="truck fa-solid fa-truck"></i>
                                <ul type="none">
                                    <li class="precios">$23.200</li>
                                    <li class="descuentos">5% off</li>
                                </ul>
                                <h4 class="descripcion">SmartTv Samsung 43"</h4>
                            </div>
                        </article>
                    </div>

                </section>

                <section>
                    <h3 class="titulares">Seccion Ofertas</h3>
                    <div class="seccion-productos">
                        <article class="articulos">
                            <div><img class="imagen-article" src="/images/cafetera.jpg" alt="imagen"></div>
                            <div class="productos">
                                <i class="truck fa-solid fa-truck"></i>
                                <ul type="none">
                                    <li class="precios">$6.770</li>
                                    <li class="descuentos">40% off</li>
                                </ul>
                                <h4 class="descripcion">Cafetera Moulinex</h4>
                            </div>
                        </article>

                        <article class="articulos">
                            <div><img class="imagen-article" src="/images/macBook.jpg" alt="imagen"></div>
                            <div class="productos">
                                <i class="truck fa-solid fa-truck"></i>
                                <ul type="none">
                                    <li class="precios">$230.000</li>
                                    <li class="descuentos">20% off</li>
                                </ul>
                                <h4 class="descripcion">MacBook Pro 2019</h4>
                            </div>
                        </article>

                        <article class="articulos">
                            <div><img class="imagen-article" src="/images/galaxys10.jpg" alt="imagen"></div>
                            <div class="productos">
                                <i class="truck fa-solid fa-truck"></i>
                                <ul type="none">
                                    <li class="precios">$70.500</li>
                                    <li class="descuentos">10% off</li>
                                </ul>
                                <h4 class="descripcion">Samsung Galaxy S10</h4>
                            </div>
                        </article>

                        <article class="articulos">
                            <div><img class="imagen-article" src="/images/tvsamsung.jpg" alt="imagen"></div>
                            <div class="productos">
                                <i class="truck fa-solid fa-truck"></i>
                                <ul type="none">
                                    <li class="precios">$23.200</li>
                                    <li class="descuentos">5% off</li>
                                </ul>
                                <h4 class="descripcion">SmartTv Samsung 43"</h4>
                            </div>
                        </article>
                    </div>
                </section>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>