<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/styles.css" rel="stylesheet" >
    <title>MercadoLiebre</title>
</head>

<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" width="35%" alt="Logotipo"></div>
        <h4>Lugar para poner la barra de busqueda</h4>
        </ul>
        <div><i class="lupa" class="fa-solid fa-magnifying-glass"></i></div>
        <h4><i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de credito</h4>
        <nav>
            <ul type="circle">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul type="circle">
                <li><a href="#">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i id="burger" class="fas fa-bars"></i>
            </div>
    </header>

    <main>
        <div><img src="/images/homebaner.jpg" width="30%" alt="imagen"></div>

        <section>
            <h3 class="titulares">Basado en tu ultima vista</h3>

            <article>
                <div><img src="/images/cafetera.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li class="precios">$6.770</li>
                    <li class="descuentos">40% off</li>
                </ul>
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <div><img src="/images/macBook.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li class="precios">$230.000</li>
                    <li class="descuentos">20% off</li>
                </ul>
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <div><img src="/images/galaxys10.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li class="precios">$70.500</li>
                    <li class="descuentos">10% off</li>
                    <li><strong>Samsung galaxys10</strong></li>
                </ul>
                <h4>Samsung Galaxy S10</h4>
            </article>

            <article>
                <div><img src="/images/tvsamsung.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li class="precios">$23.200</li>
                    <li class="descuentos">5% off</li>
                </ul>
                <h4>SmartTv Samsung 43"</h4>
            </article>

        </section>

        <section>
            <h3 class="titulares">Seccion Ofertas</h3>

            <article>
                <div><img src="/images/cafetera.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li class="precios">$6.770</li>
                    <li class="descuentos">40% off</li>
                </ul>
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <div><img src="/images/macBook.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li class="precios">$230.000</li>
                    <li class="descuentos">20% off</li>
                </ul>
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <div><img src="/images/galaxys10.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li class="precios">$70.500</li>
                    <li class="descuentos">10% off</li>
                </ul>
                <h4>Samsung Galaxy S10</h4>
            </article>

            <article>
                <div><img src="/images/tvsamsung.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li class="precios">$23.200</li>
                    <li class="descuentos">5% off</li>
                </ul>
                <h4>SmartTv Samsung 43"</h4>
            </article>

        </section>
    </main>

    <footer class="footer">
        <section class="section">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
             puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <seccion>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </seccion>

        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>

    </footer>
</body>

</html>