<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" width="35%" alt="Logotipo"></div>
        <h4>Lugar para poner la barra de busqueda</h4>
        <h4>compra en cuotas y sin tarjeta de credito</h4>
        <nav>
            <ul type="circle">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul type="circle">
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Ingresa</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div><img src="/images/homebaner.jpg" width="30%"  alt="imagen"></div>

        <section>
            <h3>Basado en tu ultima vista</h3>

            <article>
                <div><img src="/images/cafetera.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li>$6.770</li>
                    <li>40% off</li>
                </ul>
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <div><img src="/images/macBook.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li>$230.000</li>
                    <li>20% off</li>
                </ul>
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <div><img src="/images/galaxys10.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li>$70.500</li>
                    <li>10% off</li>
                    <li><strong>Samsung galaxys10</strong></li>
                </ul>
                <h4>Samsung Galaxy S10</h4>
            </article>

            <article>
                <div><img src="/images/tvsamsung.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li>$23.200</li>
                    <li>5% off</li>
                </ul>
                <h4>SmartTv Samsung 43"</h4>
            </article>

        </section>

        <section>
            <h3>Seccion Ofertas</h3>

            <article>
                <div><img src="/images/cafetera.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li>$6.770</li>
                    <li>40% off</li>
                </ul>
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <div><img src="/images/macBook.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li>$230.000</li>
                    <li>20% off</li>
                </ul>
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <div><img src="/images/galaxys10.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li>$70.500</li>
                    <li>10% off</li>
                </ul>
                <h4>Samsung Galaxy S10</h4>
            </article>

            <article>
                <div><img src="/images/tvsamsung.jpg" width="25%" alt="imagen"></div>
                <ul type="none">
                    <li>$23.200</li>
                    <li>5% off</li>
                </ul>
                <h4>SmartTv Samsung 43"</h4>
            </article>

        </section>
    </main>

    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <seccion>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </seccion>

        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </section>
        
    </footer>
</body>

</html>