<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


    <body>
        <%- include('./partials/header') %>

            <main>
                <div class="form-container">
                    <h2 class="titulo-form">REGISTRO DE USUARIO</h2>
                    <form class="form" action="/register" method="POST">
                        <div>

                            <div class="input-item">
                                <label for="nombreyapellido">Nombre y apellido</label>
                                <br>
                                <input type="text" id="nombreyapellido" name="nombreyapellido"
                                    placeholder="Nombre y apellido" required>
                            </div>

                            <div class="input-item">
                                <label for="username">Nombre de usuario</label>
                                <br>
                                <input type="text" id="username" name="username" placeholder="Username" required>
                            </div>

                            <div class="input-item">
                                <label for="email">Email</label>
                                <br>
                                <input type="email" id="email" name="email" placeholder="ej: leomessi@gmail.com"
                                    required>
                            </div>

                            <div class="input-item">
                                <label for="fechaDeNacimiento">Fecha de nacimiento</label>
                                <br>
                                <input type="date" id="fechaDeNacimiento" name="fechaDeNacimiento" max="2005-12-31"
                                    required>
                            </div>

                            <div class="input-item">
                                <label for="domicilio">Domicilio</label>
                                <br>
                                <input type="text" id="domicilio" name="domicilio"
                                    placeholder="ej: Hipolito Irigoyen 1386" required>
                            </div>

                            <div class="input-item">
                                <label for="fotoDePerfil">Foto de perfil</label>
                                <br>
                                <input type="file" id="fotoDePerfil" name="fotoDePerfil" required>
                            </div>
                        </div>

                        <div>

                            <div class="radio-checkbox">
                                <p id="parrafos">Perfil del usuario:</p>

                                <div class="input-item">
                                    <label for="comprador">Comprador</label>
                                    <input type="radio" id="comprador" name="perfil" value="comprador">

                                    <label for="vendedor">Vendedor</label>
                                    <input type="radio" id="vendedor" name="perfil" value="vendedor">
                                </div>

                                <p id="parrafos">Intereses:</p>

                                <div class="input-intereses">
                                    <div>
                                        <label for="electro">Electro</label>
                                        <input type="checkbox" id="electro" name="intereses" value="electro">
                                    </div>

                                    <div>
                                        <label for="Moda">Moda</label>
                                        <input type="checkbox" id="Moda" name="intereses" value="Moda">
                                    </div>

                                    <div>
                                        <label for="Hogar">Hogar</label>
                                        <input type="checkbox" id="Hogar" name="intereses" value="Hogar">
                                    </div>

                                    <div>
                                        <label for="Juegueteria">Juguetería</label>
                                        <input type="checkbox" id="Juegueteria" name="intereses" value="Juegueteria">
                                    </div>

                                    <div>
                                        <label for="Vida sana">Vida Sana</label>
                                        <input type="checkbox" id="Vida sana" name="intereses" value="Vida sana">
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div>
                            <div class="input-item">
                                <label for="contraseña">Contraseña</label>
                                <br>
                                <input type="password" id="contraseña" name="contraseña"
                                    placeholder="ingrese una contraseña" required>
                            </div>

                            <div class="input-item">
                                <label for="confirmarContraseña">Confirme su contraseña</label>
                                <br>
                                <input type="password" id="confirmarContraseña" name="confirmarContraseña"
                                    placeholder="Confirme su contraseña" required>
                            </div>
                        </div>

                        <div class="botones">
                            <button class="boton-confirmar" type="submit">Confirmar</button>
                            <button class="boton-borrar" type="reset">Borrar</button>
                        </div>

                    </form>

                </div>
            </main>

            <%- include('./partials/footer') %>

    </body>

</html>