body {
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: #EAC926;
    font-size: 12px;
    margin: 0px;
}

.titulares{
    font-size: 24px;
}

.lupa{
    background-color: white;
    font-size: 18px;
    padding: 5px;
}

#burger{
    background-color: #1259c3;
    color: white;
    padding: 5px;
}

.burger-menu{
    display: flex;
    justify-content: center;

}
.precios{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
}

.descripciones{
    font-size: 16px;
}

.footer{
    background-color: white;
    color: #666;
    text-align: center;
}

.footer i{
    font-size: 2em;
    color: #1259c3;
}



*{
    box-sizing: border-box;
}
