body {
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: #EAC926;
    font-size: 12px;
}

#titulares{
    font-size: 24px;
}

#precios{
    font-size: 18px;
}

#descuentos{
    font-size: 16px;
}

#descripciones{
    font-size: 16px;
}

#burger{
    background-color: #1259c3;
    color: white;
}

body #footer{
    background-color: white;
    color: #666;
    text-align: center;
}

#footer i{
    font-size: 30px;
    color: #1259c3;
}

#lupa{
    background-color: white;
}